{% extends "index.html" %}

{% block body %}
    <script>
        var solution_case_cnt = 1;
        var check_case_cnt = 1;
    </script>
    <style>
        .checked { color: orange; }
    </style>

    <div class="row row-offcanvas row-offcanvas-right my-4">
        <div class="col-2 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">문제관리</a>
                <a href="#" class="list-group-item">대회관리</a>
                <a href="#" class="list-group-item">서버관리</a>
            </div>
        </div>

        <div class="col-lg-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#qwe">문제</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#asd">문제 정보</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="qwe">
                    <textarea name="" id="mytextarea" cols="30" rows="28"></textarea>
                    <input name="image" type="file" id="upload" style="display: none" onchange="">
                    <a href="https://www.tiny.cloud/docs/advanced/keyboard-shortcuts/#editorkeyboardshortcuts">TinyMCE
                        Shortcuts?</a>
                    <input type="submit" class="btn btn-info float-right mb-4 btnNext" style="margin-top: 1ex"
                           value="다음">
                </div>

                <div class="tab-pane" id="asd">
                    <dl class="row">
                        <dt class="col-lg-0 my-2 ml-4" style="font-size: 1.3rem">문제이름</dt>
                        <dd class="col-sm-5 my-2 mr-5" style="font-size: 1.1rem">
                            <input type="text" class="form-control" name="problemName">
                        </dd>

                        <dt class="col-lg-0 my-2 ml-4" style="font-size: 1.3rem">난이도</dt>
                        <dd class="col-sm-3 my-2 mr-5" style="font-size: 1.1rem">
                            <span class="fa fa-star checked" id="star1" onclick="add(this,1)"></span>
                            <span class="fa fa-star" id="star2" onclick="add(this,2)"></span>
                            <span class="fa fa-star" id="star3" onclick="add(this,3)"></span>
                            <span class="fa fa-star" id="star4" onclick="add(this,4)"></span>
                            <span class="fa fa-star" id="star5" onclick="add(this,5)"></span>
                        </dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-lg-0 my-2 ml-4" style="font-size: 1.3rem">제한시간(ms)</dt>
                        <dd class="col-sm-2 my-2 mr-5" style="font-size: 1.1rem">
                            <input type="text" class="form-control" name="limitTime" placeholder="1000">
                        </dd>

                        <dt class="col-lg-0 my-2" style="font-size: 1.3rem">제한메모리(MB)</dt>
                        <dd class="col-sm-2 my-2" style="font-size: 1.1rem">
                            <input type="text" class="form-control" name="limitMemory" placeholder="128">
                        </dd>
                    </dl>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#solution">Solution</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#check">Check</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="solution">
                            <dl class="row">
                                <dt class="col-lg-0 mt-3 ml-4" style="font-size: 1.3rem">테스트케이스</dt>
                                <input type="button" class="btn btn-primary float-right mt-3 ml-4 addBtnSolution"
                                       value="추가">
                                <input type="button" class="btn btn-success float-right mt-3 mx-2" value="파일 추가">
                            </dl>

                            <div class="overflow-auto py-2 px-2 solutionCaseArea"
                                 style="height: 24em; width: 48vw; background-color: #fbfbfc; border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px">
                                <h5 style="float: left; margin-left: 1.5vw">입력</h5><h5 style="margin-left: 21.6vw;">
                                출력</h5>
                                <div id="case1" style="width: 43.2vw">
                                    <h6 style="width: 0.2vw; float: left; margin-left: 5px">●</h6>
                                    <textarea id="input1" name="input1"
                                              style="width: 19vw; height: 5vw; border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px; overflow-y: auto; resize: none; margin-bottom: 1vw; margin-left: 1vw"></textarea>
                                    <textarea id="output1" name="output1"
                                              style="width: 19vw; height: 5vw; border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px; overflow-y: auto; resize: none; margin-bottom: 1vw; margin-left: 1vw"></textarea>
                                    <input id="clear1" type="button"
                                           class="btn btn-danger float-right mt-2 material-icons" value="clear"
                                           style="width: 40px; padding: 2px;" onclick="tmp(this)">

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="check">
                            <dl class="row">
                                <dt class="col-lg-0 mt-3 ml-4" style="font-size: 1.3rem">테스트케이스</dt>
                                <input type="button" class="btn btn-primary float-right mt-3 ml-4 addBtnCheck"
                                       value="추가">
                                <input type="button" class="btn btn-success float-right mt-3 mx-2" value="파일 추가">
                            </dl>

                            <div class="overflow-auto py-2 px-1 checkCaseArea"
                                 style="height: 24em; width: 23.5vw; background-color: #fbfbfc; border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px; float: left; margin-right: 10px">
                                <h5>입력</h5>
                                <textarea
                                        style="width: 23vw; height: 5vw; border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px; overflow-y: auto; resize: none; margin-bottom: 1vw"></textarea>
                            </div>
                            <div class="overflow-auto py-2 px-1 checkCodeArea"
                                 style="height: 24em; width: 23.5vw; background-color: #fbfbfc; border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px">
                                <h5>확인코드</h5>
                                <textarea
                                        style="width: 23vw; height: 16vw; border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px; overflow-y: auto; resize: none; margin-bottom: 1vw; margin-top: 2px"></textarea>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-info float-right mb-4"
                           style="margin-top: 1ex; margin-left: 1ex"
                           value="등록">
                    <input type="submit" class="btn btn-info float-right mb-4 btnPrevious" style="margin-top: 1ex"
                           value="이전">
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                {#window.location = $(this).data("href");#}
            });
        });
    </script>

    <script>
        $('.btnNext').click(function () {
            $('.nav-tabs .active').parent().next('li').find('a').trigger('click');
        });

        $('.btnPrevious').click(function () {
            $('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
        });
    </script>

    <script>
        function tmp(ths) {
            ths.parentElement.remove();
            solution_case_cnt--;
        }
    </script>

    <script>
        $('.addBtnSolution').click(function () {
            if (solution_case_cnt < 30) {
                solution_case_cnt++;

                var div = document.createElement("div");
                var case_number = document.createElement("h6");
                var input = document.createElement("textarea");
                var output = document.createElement("textarea");
                var clear = document.createElement("input");

                div.id = 'case' + solution_case_cnt;
                div.style.width = '43.2vw';

                case_number.appendChild(document.createTextNode('●'));
                case_number.style.cssFloat = 'left';
                case_number.style.width = '0.2vw';
                case_number.style.marginLeft = '5px';

                input.name = 'intput' + solution_case_cnt;
                input.id = 'intput' + solution_case_cnt;
                output.name = 'output' + solution_case_cnt;
                output.id = 'output' + solution_case_cnt;

                input.style.width = '19vw';
                input.style.height = '5vw';
                input.style.borderRadius = '6px 6px 6px 6px / 6px 6px 6px 6px';
                input.style.overflowY = 'auto';
                input.style.resize = 'none';
                input.style.marginBottom = '1vw';
                input.style.marginLeft = '1vw';

                output.style.width = '19vw';
                output.style.height = '5vw';
                output.style.borderRadius = '6px 6px 6px 6px / 6px 6px 6px 6px';
                output.style.overflowY = 'auto';
                output.style.resize = 'none';
                output.style.marginBottom = '1vw';
                output.style.marginLeft = '1.2vw';

                clear.name = 'clear' + solution_case_cnt;
                clear.id = 'clear' + solution_case_cnt;
                clear.type = 'button';
                clear.className = 'btn btn-danger float-right mt-2 material-icons qwerqwer';
                clear.value = 'clear';
                clear.style.width = '40px';
                clear.style.padding = '2px';
                clear.addEventListener('click', function () {
                    tmp(clear)
                });

                div.appendChild(case_number);
                div.appendChild(input);
                div.appendChild(output);
                div.appendChild(clear);
                $('.solutionCaseArea').append(div);
            }
        });
    </script>

    <script>
        tinymce.init({
            selector: '#mytextarea',
            paste_data_images: true,
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor colorpicker textpattern"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            image_advtab: true,
            file_picker_callback: function (callback, value, meta) {
                if (meta.filetype == 'image') {
                    $('#upload').trigger('click');
                    $('#upload').on('change', function () {
                        var file = this.files[0];
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            callback(e.target.result, {
                                alt: ''
                            });
                        };
                        reader.readAsDataURL(file);
                    });
                }
            }
        });
    </script>

    <script>
        function add(ths, sno) {
            for (var i = 1; i <= 5; i++) {
                var cur = document.getElementById("star" + i)
                cur.className = "fa fa-star"
            }

            for (var i = 1; i <= sno; i++) {
                var cur = document.getElementById("star" + i)
                if (cur.className == "fa fa-star") {
                    cur.className = "fa fa-star checked"
                }
            }

        }
    </script>
{% endblock %}