{% extends "index.html" %}

{% block body %}
    <div class="row row-offcanvas row-offcanvas-right my-4">
        <div class="col-2 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">문제관리</a>
                <a href="#" class="list-group-item">대회관리</a>
                <a href="{% url 'manage_manager' %}" class="list-group-item">운영자관리</a>
            </div>
        </div>

        <div class="col-lg-10">
            <div class="container">
                <form action="{% url 'create_problem' %}" method="get">{% csrf_token %}
                    <input class="btn btn-success float-right mb-4" type="submit" value="추가">
                </form>
            </div>
            <div class="container mt-5">
                <table class="table table-hover table-responsive-xl" style="text-align: center" data-link="row">
                    <thead>
                    <tr>
                        <th scope="col" colspan="3">문제이름</th>
                        <th scope="col">제한시간(ms)</th>
                        <th scope="col">제한메모리(MB)</th>
                        <th scope="col">채점방법</th>
                        <th scope="col">난이도</th>
                        <th scope="col">공개여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for problem in problems %}
                        <tr class="clickable-row" data-id="{{ problem.id }}">
                            <td colspan="3">
                                {% if problem.problem_name|length < 10 %}
                                    {{ problem.problem_name }}
                                {% else %}
                                    {{ problem.problem_name|slice:':10' }}{{ problem.problem_name|truncatechars:10 }}
                                    </td>
                                {% endif %}
                            <td>{{ problem.limit_time }}</td>
                            <td>{{ problem.limit_memory }}</td>
                            <td>{{ problem.get_scoring_type_display }}</td>
                            <td>{{ problem.level }}</td>
                            <td>{% if problem.is_open %} O {% else %} X {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                {#window.location = $(this).data("href");#}
            });
        });
    </script>
{% endblock %}