{% extends "index.html" %}

{% block body %}
    <div class="row row-offcanvas row-offcanvas-right my-4">
        <div class="col-lg-12">
            <div class="container mt-5">
                <table class="table table-hover table-responsive-xl" style="text-align: center" data-link="row">
                    <thead>
                    <tr>
                        <th scope="col" colspan="3">문제이름</th>
                        <th scope="col">제한시간(ms)</th>
                        <th scope="col">제한메모리(MB)</th>
                        <th scope="col">채점방법</th>
                        <th scope="col">난이도</th>
                        <th scope="col">출처정보</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for problem in problems %}
                        <tr class="clickable-row" data-id="{{ problem.id }}">
                            <td colspan="3">
                                {% if problem.problem_name|length < 10 %}
                                    {{ problem.problem_name }}
                                {% else %}
                                    {{ problem.problem_name|slice:':10' }}{{ problem.problem_name|truncatechars:10 }}
                                    </td>
                                {% endif %}
                            <td>{{ problem.limit_time }}</td>
                            <td>{{ problem.limit_memory }}</td>
                            <td>{{ problem.get_scoring_type_display }}</td>
                            <td>{{ problem.level }}</td>
                            <td>{{ problem.info }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = 'problem/submit/'+ $(this).data('id');
            });
        });
    </script>
{% endblock %}